.container {
  padding: 0 2rem;
}

.main {
  background: #000;
  padding: 4rem 0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  text-transform: uppercase;
}


.feed {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.item {
  -webkit-box-flex: 0;
  flex: 0 0 calc(100% / 5 - 10px);
  aspect-ratio: 1;
  margin: 5px;
  display: block;
  position: relative;

  background: no-repeat center;
  background-size: cover;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}
